= panel title: 'Bill Search', context: :primary do
  = simple_form_for(:search, url: search_path,
      html: { id: 'search-form', method: 'get', class: 'form-horizontal' },
      wrapper: :horizontal_form ) do |f|

    .panel-body
      = f.error_notification

      .form-inputs
        = f.input :q, autofocus: true, label: 'Keyword or issue', required: false,
            input_html: { value: @query[:q] }
        = f.input :state, collection: us_states,
            label: 'Filter by State', required: false,
            selected: @query[:state],
            include_blank: true,
            input_html: { style: 'width:auto' }

    .panel-footer
      .buttons
        = f.button :submit, 'Search', class: "btn-primary"
        = link_to 'Cancel', search_path, class: 'btn btn-default'
        %span.pull-right
          - if @query.present? && user_signed_in?
            - if current_user.following?(@query)
              %button#search-as-alert.btn.btn-success.following{onclick: 'return false'} Following search
            - else
              %button#search-as-alert.btn.btn-default.follow{onclick: 'return false'} Save as alert

- content_for :javascripts do
  :javascript
    $('#search-as-alert').each(function(idx) {
      LegAlerts.handleFollows($(this));
    });
