%table.table

  - @bills.each do |bill|
    %tr
      %td.actions
        - if current_user
          = render partial: 'actions', locals: { bill: bill }
        - else
          .sign-in-no-action
            = link_to 'Sign in for alerts', new_user_session_path, class: 'btn btn-default'
      %td.result
        .bill_id
          = link_to bill.bill_id, bill.api_url, remote: true,
              data: { toggle: 'modal', target: '#bill-details-modal' }
          &nbsp;
          &#183;
          &nbsp;
          %span.os-link
            %span.glyphicon.glyphicon-new-window
            = link_to 'View on OpenStates.org', bill.os_url, target: '_blank'
        .session
          = bill.state.upcase
          Session
          = bill.session
        .title
          = bill.title
        .updated_at
          Updated:
          = bill.updated_at

= render 'modal'

- content_for :javascripts do
  :javascript
    $('.actions button').each(function(idx) {
      LegAlerts.handleFollows($(this));
    });
    $('a[data-remote]').on('ajax:success', function(e, data, status, xhr) {
      LegAlerts.showBillDetails(data);
    });
