%section.lightimage
  .container
    .row
      .inner-column
        %h1 Legislative Alerts

        %p.info Track bills in state legislatures

        - if user_signed_in?
          = link_to 'Your Alerts', alerts_path, class: "btn btn-primary btn-lg"

        %p
          Search for bills in your state legislature.
          %br
          Get email alerts whenever action is taken on a bill.

        = simple_form_for(:search, url: search_path,
          html: { method: 'get', class: 'form-horizontal' },
          wrapper: :horizontal_form ) do |f|

          .form-inputs
            = f.input :q, label: 'Keyword or issue', required: false
            = f.input :state, collection: us_states,
              label: 'Filter by State', required: false,
              include_blank: true,
              input_html: { style: 'width:auto' }

          .buttons
            = f.button :submit, 'Search', class: "btn-default"

        %p
          Powered by the
          = link_to 'OpenStates', 'https://openstates.org/'
          API.

%section.colored.primary#about
  .container
    .row
      .inner-column
        %h1 About this site
        %p
          This site was built to do one thing:
          %br
          help you keep track of where bills are in the legislative process.

        %p
          At the federal level, <a href="https://congress.gov/" target="_blank">Congress.gov</a>
          allows you to receive alerts when bills change status.

        %p
          This site lets you follow state-level legislation with a single click.

        %p
          We want to make it
          easy to keep up-to-date with activity in your state legislature.
          %br
          We don't track you or what you're searching for.
          %br
          We don't sell your email or contact information to anyone.

        %p
          All the code is
          = link_to 'open source', 'https://github.com/legalerts/'

%section.contact#contact
  .container
    .row
      .inner-column
        %h1 Get in touch
        %ul.list-group
          %li.list-group-item
            = link_to 'Email', 'mailto:info@legalerts.us'
          %li.list-group-item
            = link_to 'GitHub', 'https://github.com/legalerts/'
          %li.list-group-item
            = link_to 'Twitter', 'https://twitter.com/legalerts'
