%section.lightimage
  .container
    .row
      .inner-column
        %h1 Legislative Alerts

        %p.info Track U.S.A state legislatures

        - if user_signed_in?
          = link_to 'Your Alerts', alerts_path, class: "btn btn-primary btn-lg"
        - else
          = link_to "Get started", new_user_session_path, class: "btn btn-primary btn-lg"

%section.colored.primary#about
  .container
    .row
      .inner-column
        %h2 What is this site?

        %p
          Easily search for and receive email whenever activity occurs around bills within state legislatures.
        %p
          It would not be possible without the&nbsp;
          = link_to 'OpenStates', 'https://openstates.org/', class: 'btn btn-primary-inverted'
          &nbsp; API.

%section.contact#contact
  .container
    .row
      .inner-column
        %h1 Follow this project
        %ul.list-group
          %li.list-group-item
            = link_to 'GitHub', 'https://github.com/legalerts/'
          %li.list-group-item
            = link_to 'Twitter', 'https://twitter.com/legalerts'
