%h4
  = link_to @alert.os_bill.bill_id, bills_url(@alert.os_bill.url_id)

%p  
  State:
  = @alert.os_bill.state.upcase
  %br 
  Session:
  = @alert.os_bill.session

%h3 Lastest activity

%p  
  = @alert.os_bill.actions.last.date
  %br 
  = @alert.os_bill.actions.last.action

