%h3 Latest Activity

- @alert.os_results.each do |bill|
  %h4
    = bill.bill_id

  %p
    = bill.title

  %p
    State:
    = bill.state.upcase
    %br
    Session:
    = bill.session
    %br
    Last Action:
    = bill.actions.first.action
    %br
    = bill.actions.first.date

  %hr
