%h3 Latest Activity

- @alert.os_results.each do |bill|
  %h4
    = link_to bill.bill_id, bills_url(bill.id)

  %p
    = bill.title

  %p
    State:
    = bill.state.upcase
    %br
    Session:
    = bill.session
    %br
    Last Action:
    = bill.actions.last.action
    %br
    = bill.actions.last.date

  %hr
