%h3 Latest Activity

- @alert.os_results.each do |bill|
  - recent_action = bill.actions.last
  %h4
    = link_to bill.bill_id, bills_url(bill.url_id)

  %p
    = bill.title

  %p
    State:
    = bill.state.upcase
    %br
    Session:
    = bill.session
    %br
    Last Action:
    = recent_action&.dig('action')
    %br
    = recent_action&.dig('date')

  %hr
