%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}

  %body

    %p
      You requested an email message every time
      = link_to @alert.name, @alert.public_url
      shows signs of life.

    %h3 Summary

    %p
      = @alert.description

    - if @alert.is_a? Alert::Bill
      %p
        State:
        = @alert.os_bill.state.upcase
        %br
        Session:
        = @alert.os_bill.session

      %h3 Lastest activity

      %p
        = @alert.os_bill.actions.last.date
        %br
        = @alert.os_bill.actions.last.action

    %hr

    %p
      %strong Automatic message -- please do not reply.
