%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}

  %body

    %p
      You requested an email message every time
      = link_to @alert.name, @alert.public_url
      shows signs of life.

    %h3 Summary

    %p
      = @alert.description

    - if @alert.is_a? Alert::Bill
      = render 'bill'
    - elsif @alert.is_a? Alert::Search
      = render 'search'

    %hr

    %p
      Alert checksum:
      = @alert.checksum_short

    %p
      %strong Automatic message -- please do not reply.
