= panel title: 'Alert', context: :primary do
  = simple_form_for(@alert, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, boolean: :horizontal_boolean } ) do |f|

    .panel-body
      = f.error_notification

      .form-inputs
        = f.input :name, required: true, autofocus: true
        = f.input :status, collection: Alert.statuses
        = f.input :description
        = f.input :query
        = f.input :alert_type, as: :hidden, input_html: { value: (@alert.alert_type || 'Alert::Search') }

    .panel-footer
      .buttons
        = f.button :submit, 'Save', class: "btn-primary"
        = link_to 'Cancel', alerts_path, class: 'btn btn-secondary'
