= navbar position: :static do
  = vertical do
    = link_to root_path do
      %span.glyphicon.glyphicon-home &nbsp;
      Home
  = horizontal do
    = nav class: 'navbar-right' do
      = link_to 'Your alerts', alerts_path
      = link_to 'Contact', "/#contact"
      = link_to 'About', "/#about"
      = render partial: "application/account_dropdown"
