= navbar position: :static do
  = vertical do
    = link_to root_path do
      %span.glyphicon.glyphicon-home
      Home
  = horizontal do
    = nav class: 'navbar-right' do
      = link_to 'Alerts', alerts_path
      = link_to 'Search', search_path
      - if user_signed_in?
        = link_to edit_user_registration_path, class: 'avatar-link' do
          .avatar
            = image_tag current_user.avatar_url, alt: 'Profile', width: '50px'
        = link_to 'Sign out', destroy_user_session_path, :method=>:delete
      - else
        / CONNECT
        = link_to 'Sign in', new_user_session_path
