= navbar position: :static do
  = vertical do
    = link_to root_path do
      %span.glyphicon.glyphicon-home
      Home
  = horizontal do
    = nav class: 'navbar-right' do
      = link_to 'Alerts', alerts_path
      = link_to 'Search', search_path
      = render partial: "application/account_dropdown"
